/* Minimal reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 100%;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

img,
svg,
video,
canvas {
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}
