/* Minimal reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	font-size: 100%;
	line-height: var(--line-height-base);
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	color: var(--color-text);
	background: var(--color-bg);
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
	font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
}

*:focus-visible {
	outline: none;
}

img,
svg,
video,
canvas {
	max-width: 100%;
	height: auto;
}
svg.sprite-icons {
	width: var(--size-5);
	height: var(--size-5);
	vertical-align: middle;
	display: inline-block;
	fill: currentColor;
	aspect-ratio: 1;
}

input,
button,
textarea,
select {
	font: inherit;
}

a,
a:visited {
	color: inherit;
}
